body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

#main{
    padding: 10px;
}

.box-container 
{
    display: flex;
    background-color: rgb(255, 106, 0);
    flex-direction: row;
    justify-content: space-between;
    width:1000px;
    height:500px;
    margin:auto;
    padding-top: 0px;
    color: #fff;
    clip-path: circle(10% at 50% 50%);
    overflow: hidden;
}

.box2{
    width:20px;
}

.img{
    opacity: 0;
}

.text1, .text2{
    opacity: 0;
}

.text3{
    font-size: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1.5s;
    transform: translateY(-3em);
}
